body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

article {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2 {
  margin: 0;
  color: white;
  filter: drop-shadow(0 0 4rem black);
}

h1 {
  font-size: 168px;
  text-align: center;
}

h2 {
  font-size: 54px;
  text-align: center;
}

#title {
  display: flex;
  flex: 1 1;

  flex-direction: column;
  justify-content: center;
  column-gap: 10px;
}

#before_login_caption,
#caption {
  font-size: 30px;
  color: white;
  text-align: center;
}

input {
  background-color: transparent;

  border: none;
  border-bottom: 3px solid #ffffff;
  outline: none;

  color: white;

  font-size: 40px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

li {
  color: white;
  list-style: none;

  font-size: 30px;
}

footer {
  width: 100%;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;
}

footer span,
footer a {
  color: white;
}

#raw_url_container {
  display: flex;
  column-gap: 5px;
}

#raw_url_container svg {
  width: 20px;
  height: 20px;
}
